.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}
#photo-area.viewport {
  height: 240px;
  width: 320px;
}
#photo-area.viewport canvas,
video {
  float: left;
  width: 320px;
  height: 240px;
}
#photo-area.viewport canvas.drawingBuffer,
video.drawingBuffer {
  margin-left: -320px;
}
